<h1>Heroes <small>Marvel y DC </small ></h1>
<hr>
<div class="card-columns">
        <div class ="card">
                <img src="assets/img/aquaman.png" class="card-img-top" alt="100px">
                <div class="card-body">
                  <h5 class="card-title">Aquaman</h5>
                  <p class="card-text"> (cuyo verdadero nombre es Arthur Curry ) es un superhéroe que aparece en los cómics estadounidenses
                   publicados por DC Comics. Creado por el artista Paul Norris y el escritor Mort Weisinger, el personaje debutó en More Fun Comics # 73 (noviembre de 1941
                   </p>
                  <p class="card-text"><small class="text-muted">El final de una era...</small></p>

    <button type="button" class="btn btn-outline-primary btn-block ">
       mas informacion
            </button>
